

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap'); sans serif


*{
margin:0;
padding: 0;
font-family:'Oswald',sans-serif;}

body{
background-image: url(images/fond.png);
width: auto;
height:auto;
}

.card{
width: 700px;
height: 900px;
object-fit: cover;
background-color: #FFFF;
margin-left: 300px;
margin-bottom: 100px;
}

header{
background-color:#B8CB21;
height: 100px;
}
 
.logo{
position:absolute;
width: 90px;
height: 90px;
}

header nav ul li {
list-style-type:none;
display:inline-block;
padding-left: 150px;
font-family: 'Oswald',sans-serif;
font-weight: bold;
font-size: 1em;
font-display: uppercase;
margin-top: 30px;
}

header nav ul li a{
display:inline-block;
color: #464e0d;
}

h2{
color: #B8CB21;
text-transform: uppercase;
font-family: 'Oswald', sans-serif;
margin: 60px 20px 20px 20px;
}

i{
    margin-right: 10px;
}

.illustration{
float: left;
margin-left: 20px;
padding-right: 10px;
}

.para{
font-family: 'Poppins',sans-serif;
font-size: 1.1em;
padding-left: 25px;
}

button{
background-color: #B8CB21;
float: right;
border: none;
color: #FFFF;
margin: 5px 20px;
padding: 10px 10px;
border-radius: 1px;
margin-bottom: 30px;
}

.liste{
font-family:'Poppins', sans-serif;
font-size: 1em;
margin-left: 20px;
}

footer{
font-family: 'Poppins', sans-serif;
text-align: center;
margin-right: 150px;
font-size: 10px;
margin-bottom: 10px;
}

span{
    text-decoration: underline;
    color:#1839da;
}